* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: ivory;
  color: dimgray;
  padding: 10px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5em;
}

p {
  font-size: 1.2rem;
}